<header class="header">
    <h1>Great Western Trail
    <span class="subheader">solo companion</span></h1>
</header>

<div class="row">
    <div class="small-12 medium-12 columns">
        <div class="button-group">
            <a ui-sref="app.cardlist" class="button button-primary">List of cards</a>
            <a ui-sref="app.faq" class="button button-primary">FAQ</a>
        </div>

        <div class="button-group">
            <a class="button" ui-sref=".deck({difficulty: 'easy'})">Easy</a>
            <a class="button" ui-sref=".deck({difficulty: 'standard'})">Standard</a>
            <a class="button" ui-sref=".deck({difficulty: 'hard'})">Hard</a>
        </div>
    </div>

    <div class="small-12 medium-12 columns">
        <ui-view></ui-view>
    </div>

</div>
