{
    "presets": [
        ["es2015", {
            "modules": false
        }, ]
    ],

    "plugins": [

        ["angularjs-annotate", {
            "explicitOnly": true
        }],

        ["module-resolver", {
            "root": [
                "."
            ],
            "alias": {
                "foundation": "./node_modules/foundation-sites/js"
            }
        }]
    ]

}
