@font-face {
    font-family: 'merriweatherregular';
    src: url('../public/fonts/merriweather-regular-webfont.eot');
    src: url('../public/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../public/fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../public/fonts/merriweather-regular-webfont.woff') format('woff'),
         url('../public/fonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('../public/fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-transform: uppercase;

    //Using a css property that requires prefixing to work
    flex: 1;
    display: flex;

    &:after {
        width: 100%;
        content: '';
        display: block;
        //Using a relative url to a asset in the interface setup
        background: url('../public/images/hound.jpg') no-repeat 0 0;
        background-size: cover;
    }
}

p {
    //Using a Foundation sass function, because it is globally available to all .scss files in the solution
    font-size: rem-calc(20);

    //Using a variable defined in the custom variables.scss file
    color: $myCustomColor;
}
