.card {
    border-radius: 6px;
    border: 1px solid $black;
    padding: 6px;
    min-height: 440px;
    max-width: 300px;
    height: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;

    &__header {
        flex: 0 1 20px;
        align-self: flex-start;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: rem-calc(13);
    }

    &__text {
        flex: 1 1 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    &__action {
        text-transform: uppercase;
        font-size: rem-calc(20);


        &:before {
            content: '&';
            display: block;
            margin: 10px 0;
            opacity: 0.4;
            font-size: rem-calc(24);
        }

        &:first-of-type {
            &:before {
                display: none;
            }
        }


    }

    &__extra {
        flex: 0 1 auto;
        font-size: rem-calc(12);
        text-transform: none;
        margin-top: 10px;
    }

    &__footer {
        align-self: flex-end;
    }
}

.card--discard {
    @extend .card;
    min-width: 25%;
    min-height: 300px;

    .card__action,
    .card__text {
        font-size: rem-calc(14);
    }

    .card__action:before {
        font-size: rem-calc(12);
    }
    .card__footer {
        font-size: rem-calc(10);
    }
}
