.card {
    border-radius: 10px;
    border: 1px solid darken($brown, 20%);
    background-color: $brown;
    padding: 12px;
    min-height: 440px;
    max-width: 300px;
    height: 100%;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.75);

    &__header {
        flex: 0 1 26px;
        align-self: flex-start;
        width: 100%;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        font-size: rem-calc(13);
    }

    &__text {
        flex: 1 1 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        background-color: $white;
        border-radius: 10px;
        border: 1px solid $black;
    }

    &__action {
        text-transform: uppercase;
        font-size: rem-calc(20);
        background-color: $white;

        &:before {
            content: '&';
            display: block;
            margin: 10px 0;
            opacity: 0.4;
            font-size: rem-calc(24);
        }

        &:first-of-type {
            &:before {
                display: none;
            }
        }


    }

    &__extra {
        flex: 0 1 auto;
        font-size: rem-calc(12);
        text-transform: none;
        margin-top: 10px;
    }

    &__footer {
        flex: 0 1 26px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem-calc(10);
        padding-top: 8px;
        color: $white;
    }
}

.card--discard {
    @extend .card;
    min-width: 25%;
    min-height: 300px;

    .card__action,
    .card__text {
        font-size: rem-calc(14);
    }

    .card__action:before {
        font-size: rem-calc(12);
    }
    .card__footer {
        font-size: rem-calc(10);
    }
}
