<div ng-class="$ctrl.type">
    <div class="card__header">
        Brisco
    </div>
    <div class="card__text">
        <div class="card__action">
            {{$ctrl.data.text}}
        </div>
        <div ng-if="$ctrl.data.text2" class="card__action">
            {{$ctrl.data.text2}}
        </div>

        <div ng-if="$ctrl.data.text3" class="card__extra">
            {{$ctrl.data.text3}}
        </div>

    </div>

    <div class="card__footer">
        <span class="card__id">{{$ctrl.data.id}}</span>
    </div>
</div>
