<div>
    Great Western Trail Automa 1.3
by Wil Gerken
Under the inspiration of Morten Monrad Pedersen’s Viticulture Automa, I thought I would take a stab at creating an
Automa deck for Great Western Trail.
My goal with this deck was to try to mimic what other players do in a multiplayer game such as placing buildings, buying
cattle cards, taking objective cards, and claiming station bonuses. I also wanted to avoid having to do any bookkeeping for
the automa opponent (no money, no hand of cards, no having to think out their turn, etc). The end goal to keep it as fiddly
free and simple as possible so I could focus on my own game yet still have an challenging opponent messing with things.
If you can help with some play testing to refine this, that would be greatly appreciated.
Setup
Choose a color for the dummy player and give them a name. I call my opponent Brisco.
Select a difficult level of “easy”, “standard” or “hard” mode. I recommend “standard” for your first game. The modes will be
referenced in the details below but here’s a quick summary of the difference in setup of each mode.
Standard Mode
- Remove 1 copy of the "Move Forward 1" card
- Use all of Brisco's buildings to create Brisco's building bag
- Brisco's first delivery is to Colorado Springs
Easy Mode
- Use all of the cards
- Use Brisco's buildings 1 through 5 to create Brisco's building bag
- Brisco's first delivery is to Wichita
Hard Mode
- Remove 2 copies of the "Move Forward 1" card
- Use Brisco's buildings 6 through 10 to create Brisco's building bag
- Brisco's first delivery is to Santa Fe
Set up a game for two players with the following modifications:
• Your Buildings - Pick the buildings that you’d like for your building choices for the game.
• Brisco’s Buildings - Prepare a bag or cup with Brisco’s buildings based on the difficulty level selected. Note: Brisco will
always use the A side when placing buildings.
• Automa Deck - The automa deck consists of 14, 15, or 16 cards that Brisco will use instead of the player’s cards. In
Standard Mode, remove one copy of the “Move Forward 1” card leaving you with 15 cards. In Hard Mode, remove
two copies of the “Move Forward 1 card” leaving you with 14 cards. In Easy mode, use all of the cards in the automa
deck.
• Create a point pile for Brisco and place Brisco’s starting objective, purchased cattle, and any gained objectives
throughout the game in this pile.
• Do not give Brisco any money. Brisco will never earn money or spend money. This is simply to eliminate the
bookkeeping.
• Brisco always goes first which also means you always start with 7 coins.
• Brisco begins at the start of the trail. You can start your first move wherever you’d like just as in the standard 1st turn
rules.
Gameplay
On Brisco’s turn, simply turn over the next Automa card and do as it says.
If Brisco advances into Kansas City, do the following:
• Step 1, 2, and 3 - Play as usual. Your get to choose what to place so choose wisely.
• Skip steps 4 and 5 as Brisco doesn’t have a hand of cards nor any money.
• Place a disk from Brisco’s player mat. The first disk should be placed in the starting city associated with the mode you
are playing. Santa Fe if playing with hard mode, Colorado Springs for standard mode, and Wichita for easy mode.
Place all subsequent disks in the city that is to the right of the last disk you placed. For example, if the first disk is in
Wichita, the second disk will be in Colorado Springs, the third disk in Santa Fe, etc. If Brisco gets to San Francisco
keep stacking disks there.
Important: When you have the opportunity to place a black disk for Brisco such as in Albuquerque, place the black disks
that increase movement speed first. This will impact the amount Brisco moves on a few Automa cards.
If placing a disk triggers collecting an objective card, take the card with the highest point value and put it in Brisco’s point
pile. This helps get Brisco’s points higher and rotates through the objective cards a bit as well.
Additional Notes / FAQ
• Brisco breaks all game rules. He doesn’t need money for his purchases, builders for his buildings, or engineers for his
train travel. It simply just happens. He also scores all objective cards he collects regardless of meeting the criteria or
not.
• Brisco always takes the fastest path to Kansas City when moving. It two paths are the same length, you choose which
path he should take.
• If Brisco passes one of your hazard buildings, you still get the money as usual but it comes from the bank since Brisco
doesn’t have any money.
• Whenever you have a choice of moving Brisco's train into a space or a station, evaluate at that moment if Brisco's
train is ahead of your train. If it is, then the choice is to move into the station and stop. Place one of Brisco’s disks at
the station. Then if relevant, place a worker to claim the station master tile. The point of this is to 1) claim the station
tile ahead of you if possible, and 2) not let Brisco get too far ahead so the trains ideally stay tight.
• When the automa deck runs out, shuffle it and continue drawing one card for each turn Brisco takes.
• Scoring is standard with the exception that Brisco scores all objective cards he has regardless of completing them.
• Brisco also scores any station tile bonuses based on the teepees, hazards, certificates and anything else he collected.
• When instructed to build a building for Brisco, draw a building from Brisco’s bag and place the A side of the building in
the space in front of where YOU currently are at on the trail.
• Always do everything that can be achieved on Brisco’s Automa card. For example, if the movement portion of the card
advances Brisco to Kansas City, you should pause the delivery and finish off anything remaining on the card such as
takings hazards, buying cattle, etc. Then complete the delivery and loop back to the start of the trail.
</div>
